* {
  --sidebar-width: 175px;
  /*https://hookagency.com/blog/website-color-schemes/*/
  --dark-blue: #12232e;
  --lighter-blue: #007cc7;
  --lightest-blue: #4da8da;
  --shadow-of-dark-blue: #203647;
  --shadow-of-light-blue: #eefbfb;
  --side: var(--dark-blue);
  --back: var(--shadow-of-dark-blue);
  --text: var(--shadow-of-light-blue);
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 46px;
  }
}

@media only screen and (min-width: 769px) {
  .sidebar {
    width: var(--sidebar-width);
  }
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--back);
  color: var(--text);
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.toggle-container {
  display:block;
  width:100%;
  height: 46px;
}

/*https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp - Inspiration*/
.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--side);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-content {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: var(--sidebar-width);
}

.sidebar ul li a {
  display: block;
  color: var(--text);
  padding: 20px;
  margin: auto;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: var(--lighter-blue);
}

.menu-toggle {
  font-size: 30px;
  text-decoration: none;
  color: var(--text);
  padding: 0px 9px 0px;
  float: right;
}

.content {
  flex-grow: 1;
  overflow: auto;
  margin-left: var(--sidebar-width);
}

.section {
  height: 100%;
  width: 100%;
  text-align: center;
}