* {
  --sidebar-width: 175px;
  /*https://hookagency.com/blog/website-color-schemes/*/
  --dark-blue: #12232e;
  --lighter-blue: #007cc7;
  --lightest-blue: #4da8da;
  --shadow-of-dark-blue: #203647;
  --shadow-of-light-blue: #eefbfb;
  --side: var(--dark-blue);
  --back: var(--shadow-of-dark-blue);
  --text: var(--shadow-of-light-blue);
  box-sizing: border-box;
}

@media only screen and (max-width: 414px) {
  .sidebar {
    width: 45px;
  }

  #toggle {
    display: block;
  }

  .content {
    margin-left: 45px;
  }
  .about {
    grid-template-areas:
      "head head"
      "image image"
      "text text";
  }
  .classes {
    grid-template-areas:
      "head"
      "upper"
      "lower"
      "elec";
  }

  .skills {
    grid-template-areas:
    "head"
    "tech"
    "pers";
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .sidebar {
    width: 45px;
  }

  #toggle {
    display: block;
  }

  .content {
    margin-left: 45px;
  }
  .about {
    grid-template-areas:
      "head head head"
      "blank1 image blank2"
      "text text text";
  }

  .classes {
    grid-template-areas:
      "head head"
      "upper lower"
      "elec elec";
  }

  .skills {
    grid-template-areas:
      "head"
      "tech"
      "pers";
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: var(--sidebar-width);
  }

  #toggle {
    display: none;
  }

  .content {
    margin-left: var(--sidebar-width);
  }
  .about {
    grid-template-areas:
      "head head"
      "text image";
  }

  .classes {
    grid-template-areas:
      "head head head"
      "upper lower elec";
  }

  .skills {
    grid-template-areas:
      "head head"
      "tech pers";
  }
}

@media only screen and (min-width: 1025px) {
  .sidebar {
    width: var(--sidebar-width);
  }
  .content {
    margin-left: var(--sidebar-width);
  }

  #toggle {
    display: none;
  }

  .about {
    grid-template-areas:
      "head head head"
      "text text image";
  }

  .classes {
    grid-template-areas:
      "head head head"
      "lower upper elec";
  }

  .skills {
    grid-template-areas:
      "head head"
      "tech pers";
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--back);
  color: var(--text);
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.toggle-container {
  display: block;
  width: 100%;
  height: 46px;
}

/*https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp - Inspiration*/
.sidebar {
  height: 100%;
  position: fixed;
  background-color: var(--side);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-content {
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 0;
  width: var(--sidebar-width);
}

.sidebar-content li a {
  display: block;
  color: var(--text);
  padding: 20px;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
}

.sidebar-content li a:hover {
  color: var(--lightest-blue);
}

.menu-toggle {
  font-size: 30px;
  text-decoration: none;
  color: var(--text);
  padding: 0px 9px 0px;
  float: right;
}

.menu-toggle:hover {
  color: var(--lighter-blue);
}

.content {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  transition: 0.5s;
}

.section {
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.center {
  text-align: center;
}


.head-main {
  grid-area: head;
  font-size: 40px;
}

.about-text {
  grid-area: text;
  padding: 0;
  margin: auto;
  padding: 20px;
  font-size: 20px;
}

.profile-container {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}

.profile {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
  border: 10px solid var(--dark-blue);
}

.prev {
  grid-template-areas:
    "head"
    "work";
}

.work {
  grid-area: work;
  width: 100%;
  padding: 50px 10px 50px 10px;
}

.work-block {
  width: 100%;
  display: none;
  border: 5px solid var(--dark-blue);
  padding: 10px;
  text-align: left;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion */
.accord {
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--shadow-of-light-blue);
  border: 2px solid var(--dark-blue);
  font-size: 20px;
  transition: 0.5s;
}

.accord:hover {
  background-color: var(--lightest-blue);
}

.classes {
  width: 100%;
  text-align: left;
  padding: 20px;
}

.upper-div {
  grid-area: upper;
  padding: 10px;
}

.lower-div {
  grid-area: lower;
  padding: 10px;
}

.elec {
  grid-area: elec;
  padding: 10px;
}

.skills {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.pers {
  grid-area: pers;
  padding: 10px;
}

.tech {
  grid-area: tech;
  padding: 10px;
}

.skill-cont {
  background-color: var(--dark-blue);
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.skill {
  border-radius: 25px;
  height: 25px;
  background-color: var(--shadow-of-dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.html {
  width: 80%;
}

.css {
  width: 70%;
}

.javascript {
  width: 65%;
}

.cpp {
  width: 90%;
}

.java {
  width: 80%;
}

.python {
  width: 85%;
}

.multi {
  width: 90%;
}

.organ {
  width: 90%;
}

.team {
  width: 85%;
}

.comm {
  width: 80%;
}

.atte {
  width: 90%;
}